.modal {
    position: fixed;
    top: 30vh;
    right: 0;
    left: 0;
    width: 100%;
    max-height: 400px;
    max-width: 420px;
    overflow: auto;
    margin: auto;
    padding: 25px;
    background: #f0f0f0;
}

.modal::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0002;
    z-index: -1;
}